* {
  border : 0;
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction:column;
  border: 1px purple solid;
  width: 360px;
  height: 540px;
}

.display {
  flex : 20 0 0;
  border : 1px purple solid;
}

.controller { 
  flex: 15 0 0;
  border : 1px purple solid;
}

.buttons {
  flex : 65 0 0;
  display: flex;
  flex-direction: column;
  border : 1px purple solid;
}

.button .row {
  flex : 1 0 0;
  border: 1px purple solid;
  display: flex;
  flex-direction: row;
  border: 1px blue solid;
}

.button .row > button {
  flex : 1 0 0;
  
}